<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./card.css">
</head>
<body>

    <div class="card lost-item">
        <h3>Lost Item</h3>
        <img src="lost-and-found.png" alt="Lost Item Image" class="item-image">
        
        <p><strong>Item Name:</strong> Wallet</p>
        <p class="desc"><strong>Description:</strong> Black leather wallet with several cards inside.</p>
        <p><strong>Lost Location:</strong> Library</p>
        <p><strong>Lost Date:</strong> 2024-10-15</p>
        <p><strong>Owner Phone:</strong> +1234567890</p>
        <p><strong>Owner Roll No:</strong> 12345</p>
    </div>

    

</body>
</html>