<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Homepage</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Found & Lost</h1>
        </header>
        <main>
            <div class="auth-options">
                <form action="/user/signUp">
                    <button class="btn">Sign Up</button>
                </form>
                <form action="/user/login">
                    <button class="btn">Login</button>
                </form>
            </div>
        </main>
        <footer>
            <p>&copy; 2024 Found & Lost</p>
        </footer>
    </div>
</body>
</html>
