<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signUp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Sign Up</h1>
        </header>
        <!-- enctype="multipart/form-data" -->
        <form action="/user/signUp" method="POST">
            <!-- <label for="avatar">Avatar (Optional):</label>
            <input type="file" id="avatar" name="avatar" accept="image/*"> -->
    
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
    
            <label for="password">Password:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
            </div>
    
            <label for="roll_no">Roll Number:</label>
            <input type="text" id="roll_no" name="roll_no" placeholder="Enter your roll number" required>
    
            <button type="submit" class="btn">Sign Up</button>
        </form>
    </div>
    
    <script>
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('password');
    
        togglePassword.addEventListener('click', function () {
            // Toggle the type attribute
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
    
            // Toggle the eye icon
            this.classList.toggle('fa-eye-slash');
        });
    </script>
    
</body>
</html>
